<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">

    <title>Minesweeper</title>

    <style>
        /*body{
            background-color: #def3fd;
        }*/
        body {
            background-color: #b5dfcf;
        }

        .title_container {
            width: 900px;
            height: 470px;
            background-color: antiquewhite;
            border-radius: 15px;
        }


    </style>
</head>

<body>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh; width: 100vw;">
        <div class="title_container d-flex flex-column justify-content-center align-items-center">
            <div style="font-family: 'Zen Dots', cursive; font-size: 80px;">
                Minesweeper
            </div>

            <div class="d-flex flex-column justify-content-center align-items-center mt-5">
                <button type="button" class="btn btn-success btn-lg mt-2 mb-2" onclick="direct_playgame()">Play game</button>
                <button type="button" class="btn btn-info btn-lg mt-2">About</button>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-5">
                Demo vesion (v0.0)
            </div>
        </div>
        


    </div>


    <script>
        function direct_playgame(){
            window.location.href = "/option";
        }
    </script>


</body>

</html>