<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <title>Option</title>

    <style>
        /*body{
            background-color: #def3fd;
        }*/
        body {
            background-color: #b5dfcf;
            height: 100vh;
        }
    </style>
</head>

<body class="d-flex justify-content-center align-items-center">
    <div class="container-fluid d-flex justify-content-around">
        <div class="card" style="width: 700px; background-color: #d0efff;">

            <div class="card-header d-flex justify-content-center align-items-center">
                <div>
                    <b style="font-size: 30px;">Setting the board</b>
                </div>

            </div>
            <form class="d-flex flex-column m-5">
                <div class="form-group">
                    <div style="width: 70%">
                        <label for="formControlRange">Row dimension</label>
                        <div class="d-flex justify-content-around align-items-center" id="range_group_1">
                            <input type="range" class="form-control-range" id="formControlRange_1"
                                onInput="update_state_range()" min="4" max="30">
                            <span class="ml-3" id="rangeval_1"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div style="width: 70%">
                        <label for="formControlRange">Column dimension</label>
                        <div class="d-flex justify-content-around align-items-center" id="range_group_2">
                            <input type="range" class="form-control-range" id="formControlRange_2"
                                onInput="update_state_range()" min="4" max="20">
                            <span class="ml-3" id="rangeval_2"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div style="width: 70%">
                        <label for="formControlRange">Number of bombs <span id="bomb_label"></span></label>
                        <div class="d-flex justify-content-around align-items-center" id="range_group_3">
                            <input type="range" class="form-control-range" id="formControlRange_3"
                                onInput="update_bomb_value()" min="3" max="140">
                            <span class="ml-3" id="rangeval_3"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="usr">Your name: </label>
                    <input type="text" class="form-control" id="name_player" style="background-color: #d0d4d7;"
                        disabled>
                </div>

                <div class="form-group d-flex flex-column">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio" id="publish"
                                onclick="allow_input_name()">
                            Publish your score (Choose this option to set your name)
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio" id="not_publish"
                                onclick="allow_input_name()" checked="checked">No, thanks!
                        </label>
                    </div>
                </div>

                <div class="form-group d-flex justify-content-center align-items-center mt-3">
                    <div class="d-flex justify-content-between align-items-center" style="width: 70%;">
                        <button type="button" class="btn btn-success"
                            onclick="initialize_board_information()">Play</button>
                        <button type="button" class="btn btn-danger" onclick="direct_home()">Cancel</button>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <script>
        let row_dimension = document.getElementById("formControlRange_1");
        let column_dimension = document.getElementById("formControlRange_2");
        let bombs = document.getElementById("formControlRange_3");
        initialize_range_bar();



        /*Handle for range input*/
        function initialize_range_bar() {
            row_dimension.value = 15;
            column_dimension.value = 10;
            bombs.value = 20;
            $('#rangeval_1').html($("#formControlRange_1").val());
            $('#rangeval_2').html($("#formControlRange_2").val());
            $('#rangeval_3').html($("#formControlRange_3").val());
            $("#bomb_label").html("(Max: " + bombs.max + ")");
        }


        function update_state_range() {
            $('#rangeval_1').html($("#formControlRange_1").val());
            $('#rangeval_2').html($("#formControlRange_2").val());

            bombs.max = (parseInt(row_dimension.value) * parseInt(column_dimension.value)) - 10;
            bombs.value = 3;
            if (bombs.max <= 0) {
                bombs.max = 3;
            }
            $('#rangeval_3').html($("#formControlRange_3").val());
            $("#bomb_label").html("(Max: " + bombs.max + ")");

        }

        function update_bomb_value() {
            $('#rangeval_3').html($("#formControlRange_3").val());
        }

        function allow_input_name() {
            let publish = document.getElementById("publish");
            if (publish.checked) {
                $("#name_player").prop("disabled", false);
                $("#name_player").css("background-color", "white");
            } else {
                $("#name_player").prop("disabled", true);
                $("#name_player").css("background-color", "#d0d4d7");
            }
        }

    </script>
    <script src="../javascripts/create_board.js"></script>
    <script>
        function initialize_board_information() {
            let row_length = $("#formControlRange_1").val();
            let column_length = $("#formControlRange_2").val();
            let bombs = $("#formControlRange_3").val();
            let name = "";

            let info_json = {
                number_of_squares_a_row: row_length,
                number_of_squares_a_column: column_length,
                number_of_bombs: bombs,
                name: ""
            };

            let publish = document.getElementById("publish");
            if (publish.checked) {
                if ($("#name_player").val() === "") {
                    alert("Please enter your name! Or, choose not to publish!")
                } else {
                    name = $("#name_player").val();
                    /*update_global_board(row_length, column_length, bombs, name);
                    window.location.replace("/game");*/
                    info_json.name = name;
                    post_board(info_json);
                }
            } else {
                /*update_global_board(row_length, column_length, bombs, name);
                window.location.replace("/game");*/
                info_json.name = name;
                post_board(info_json);
            }
            console.log(info_json);
        }

        function direct_home(){
            window.location.href = "/";
        }
    </script>


</body>

</html>